html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Media queries
---------------------------------------------------------- */
/* Mixins
---------------------------------------------------------- */
/* Default stylings
---------------------------------------------------------- */
body {
  background: #eee;
  font-family: Calibri, Candara, Segoe, "Segoe UI";
  font-size: 62.5%;
  font-weight: 100;
  color: #333;
  line-height: 1.5; }

table {
  width: 100%; }
  table td, table th {
    border: 1px solid #ccc;
    text-align: center;
    padding: 5px; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif;
  margin-bottom: 10px; }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2.2em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.3em;
  color: #999; }

p, span, a {
  font-size: 1.5em; }

a {
  color: red; }

button,
input[type="button"] {
  padding: 3px 10px;
  background: white;
  border: 2px solid #666;
  color: #666;
  font-size: 1.3em;
  cursor: pointer; }
  button:hover,
  input[type="button"]:hover {
    border-color: #333;
    color: #333; }

b, strong {
  font-weight: bold; }

.ClearFix {
  zoom: 1; }
  .ClearFix:before, .ClearFix:after {
    content: "";
    display: table; }
  .ClearFix:after {
    clear: both; }

.FloatLeft {
  float: left; }

.FloatRight {
  float: right; }

/* Main wrapper
---------------------------------------------------------- */
.Wrapper {
  background: white;
  margin: 0 10px;
  padding: 0px 10px 40px;
  min-height: 600px;
  border: 1px solid #ccc; }
  @media screen and (min-width: 1024px) {
    .Wrapper {
      /* MQ Widescreen */
      margin: 0 auto;
      padding: 0px 20px 60px 20px;
      width: 900px; } }

/*  Header
---------------------------------------------------------- */
.MainHeader {
  padding: 30px 20px;
  border-bottom: 1px solid #ccc; }
  .MainHeader span {
    font-style: italic; }

.MainContent {
  padding: 15px 10px; }
  @media screen and (min-width: 1024px) {
    .MainContent {
      /* MQ Widescreen */
      padding: 30px 20px; } }

.Section {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px; }
  @media screen and (min-width: 1024px) {
    .Section {
      /* MQ Widescreen */
      padding-bottom: 30px;
      margin-bottom: 20px; } }
  .Section .Section_desc {
    margin-bottom: 10px; }
  .Section .Section_code {
    margin: 7px 0;
    padding: 8px 15px;
    background: #ffffcc;
    font-size: 1.4em; }
  .Section .Section_demoTitle {
    font-size: 1.5em; }
  .Section .ClearFix {
    margin: 15px 0 0; }
    .Section .ClearFix img {
      margin-bottom: 10px; }
      @media screen and (min-width: 1024px) {
        .Section .ClearFix img {
          /* MQ Widescreen */
          float: left;
          margin-bottom: 0; } }
  .Section img {
    max-width: 260px;
    border: 1px solid #999;
    margin-right: 20px; }

/*# sourceMappingURL=style.css.map */
