@import "reset";
@import "base";


.ClearFix {
	@include clearfix;
}

.FloatLeft {
	float: left;
}

.FloatRight {
	float: right;
}

/* Main wrapper
---------------------------------------------------------- */
.Wrapper {
	background: white;
	margin: 0 auto;
	padding: 0px 20px 40px;
	min-height: 600px;
	border: 1px solid $grey4;

	@include respond-to(widescreen) {
		padding-bottom: 60px;
		width: 900px;
	}
}

/*  Header
---------------------------------------------------------- */
.MainHeader {
	padding: 30px 20px;
	border-bottom: 1px solid $grey4;

	span {
		font-style: italic;
	}
}

.MainContent {
	padding: 30px 20px;
}

.Section {
	background: $grey5;
	border: 1px solid $grey4;
	padding: 10px;
	margin-bottom: 20px;

	.Section_desc {
		margin-bottom: 10px;
	}

	.Section_code {
		margin: 7px 0;
		padding: 8px 15px;
		background: #ffffcc;
		font-size: $size14;
	}

	.Section_demoTitle {
		font-size: $size15;
	}
}

@import "tooltip";